@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(255, 255, 255)
    )
    rgb(214, 219, 220);
    
}


